$layout-gap: 0.8rem;

:host {
  nb-layout-header .layout-header {
    display: flex;

    /* Set for all elements initially (might be collapsed) */
    > * {
      margin-right: $layout-gap;
    }

    /* Exclude the last child from margin collapse  */
    > *:not(:last-child) {
      margin-right: $layout-gap;
    }
  }
}
